:root {
  --fs-1: 1vw;
  --fs-2: 2vw;
  --fs-3: 8vw;

  --sp-m: 5vw;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  padding: calc(2.5vw + 1rem);
}

h1, h2, h3, h4, h5, h6, ul, li {
  margin: unset;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
}

li:hover {
  color: hsla();
}

li:before {
  content: "→";
  font-weight: bold;
  display: inline-block; 
  margin-left: 0;
  display: inline-flex;
  color: inherit;
}

a {
  color: inherit;
}

li:hover {
  color: hsl(0, 80%, 44%);
}

.fs-1 { font-size: var(--fs-1) }
.fs-2 { font-size: var(--fs-2) }
.fs-3 { font-size: var(--fs-3); line-height: 0.95; letter-spacing: -0.05em }

.fw-400 { font-weight: 400 }
.fw-700 { font-weight: 700 }




